/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.mdl-textfield__error {
  color: lightgreen;
}

.page-content {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

.page-content-answer {
  color: rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

.right-image {
  height: auto;
  width: 250px;
  float: right;
}

body {
  background-color: cornflowerblue;
}